@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}

.banner-bg{
  background-image: url("../assets/Hero-bg.png");
  width: 1440px;
  height: 652px;
  margin: 103px 42px 114px 42px;
 
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
text-align: center;
 
}

.hero-bg img{
  margin-top: 50px;
  margin-bottom: 40px ;
}
.banner-description h1{
  font-weight:bolder;
  font-size: 48px;
  margin-bottom: 30px;
}
.paragraph-text{
color: 0D1321;
}

.banner-description button{
  width: 244px;
  height: 65px;
  background-color: #0D1321;
  color:#FFFFFF;
  padding: 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
}
.banner-description p{
  margin-bottom: 30px;
}

/*Middle Part*/

.middle{
  width: 1140px;
  margin-left: 250px;
  margin-right: 192px;
  padding: 80px 97px;
  background-color: rgba(13, 19, 33, 0.02);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.inspiration-part{
  
  width: 852px;
  height: 113px;
  

}

.inspiration-part h2{
  font-weight: bolder;
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}

.inspiration-part p{
  font-size: 16px;
  text-align: center;
}

.main-title{
  width: 852px;
  height: 113px;
  text-align: center;
  margin-top: 100px;
}

.main-title h2{
text-align: center;
margin-bottom: 30px;
}
.middle-1{
  display: flex;
  justify-content: space-between;
  gap: 140px;
  margin-bottom: 40px;
}

.middle-1-des{
  margin-left: 0px;
}

.general-button{
  width: 171px;
  height: 47px;
}

.middle-1-des h2{
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
}
.middle-1-des p{
  font-size: 16px;
  margin-bottom: 20px;
}

.inspiration-part-2{
  width: 1140px;
    margin-left: 247px;
    margin-top: 90px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(13, 19, 33, 0.1);
}

.inspiration-vedio {
 text-align: center;
 margin-bottom: 30px;
}
.inspiration-vedio h2{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 18px;
}

.inspiration-vedio p{
  font-size: 16px;
}
/*current target*/
.current-target{
  width: 1140px;
  margin-top: 100px;
  margin-left: 247px;

}

.target-title{
  text-align: center;
  margin-bottom: 50px;
}
.target-parts{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.target-title h2{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 18px;
}

.target-title p{
  font-size: 16px;

}

.skills{
  text-align: center;
}
.skill-1{
  width: 360px;
    background-color: rgba(255, 76, 30, 0.05);
    padding: 40px;
    border-radius: 16px;
}
.skill-2{
  width: 360px;
    background-color:rgba(0, 76, 232, 0.05);
    padding: 40px;
    border-radius: 16px;
}
.skill-3{
  width: 360px;
    background-color:rgba(255, 223, 0, 0.05);
    padding: 40px;
    border-radius: 16px;
}

.submission h2{
  text-align: end;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 100px;
}